body {
  background-color: #111216;
}

.main {
  width: 100%;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.square {
  width: 10px;
  height: 10px;
  border: 1px solid yellow;
  display: inline-block;
  box-sizing: border-box;

  &.active {
    background-color: yellow;
  }
}

.square:nth-child(100) {
  background-color: red !important;
}
